<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer App - log in</title>

    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">

</head>
<body>

<a th:href="@{/become-trainer}"><button type="submit">Zostan trenerem</button></a>
<a th:href="@{/show-trainers}"><button type="submit">Wyswietl trenerow</button></a>

</body>
</html>